/* styles.css */

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 50px;
}
.con{
  display: flex;
justify-content: space-evenly;
 }

.button {
  background-color: #4CAF50;
  margin: 5px;
  border: none;
  color: white;
}

.btn{
  background-color: #4CAF50;
  margin: 5px;
  border: none;
  color: white;
}
/* Add any other global styles you want */
